<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>Welcome Riccino</title>
</head>
<body>
    <div class="home">
    <h1 id="welcome">Welcome Riccino</h1>
    <p align="center" id="github">The code is in <a target="_blank" href="https://github.com/riccino22/LoginNodeJS">GitHub</a><br>By <a href="https://github.com/riccino22" target="_blank">Riccino22</a><br><a href="/">Go to back</a></p>
</div>
</body>
</html>